apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "neon-storage-controller.fullname" . }}
  labels:
    {{- include "neon-storage-controller.labels" . | nindent 4 }}
spec:
  strategy:
  {{- if .Values.settings.startAsCandidate }}
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  {{- else }}
    type: Recreate
  {{- end }}
  replicas: 1
  # Which pods the Deployment is managing (duplicates template.metadata.labels).
  selector:
    matchLabels:
      {{- include "neon-storage-controller.selectorLabels" . | nindent 6 }}
  # Pod template.
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      # Labels set on created pods.
      labels:
        {{- include "neon-storage-controller.selectorLabels" . | nindent 8 }}
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "neon-storage-controller.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - storage_controller
            - -l
            {{- /*
            # In the container, use the same port as service.
            */}}
            - 0.0.0.0:{{ .Values.service.port }}
            - --public-key={{ .Values.settings.publicKey | toJson }}
          {{- if .Values.settings.controlPlaneUrl }}
            - --control-plane-url
            - {{ .Values.settings.controlPlaneUrl | quote }}
          {{- end }}
          {{- if .Values.settings.maxOfflineInterval}}
            - --max-offline-interval
            - {{ .Values.settings.maxOfflineInterval | quote }}
          {{- end }}
          {{- if .Values.settings.initialSplitThreshold }}
            - --initial-split-threshold
            - {{ .Values.settings.initialSplitThreshold | quote }}
          {{- end }}
          {{- if .Values.settings.initialSplitShards }}
            - --initial-split-shards
            - {{ .Values.settings.initialSplitShards | quote }}
          {{- end }}
          {{- if .Values.settings.splitThreshold }}
            - --split-threshold
            - {{ .Values.settings.splitThreshold | quote }}
          {{- end }}
          {{- if .Values.settings.maxSplitShards }}
            - --max-split-shards
            - {{ .Values.settings.maxSplitShards | quote }}
          {{- end }}
          {{- if .Values.settings.chaosInterval }}
            - --chaos-interval
            - {{ .Values.settings.chaosInterval | quote }}
          {{- end }}
          {{- if .Values.settings.chaosExitCrontab }}
            - --chaos-exit-crontab
            - {{ .Values.settings.chaosExitCrontab | quote }}
          {{- end }}
            - --address-for-peers
            - http://$(POD_IP):{{ .Values.service.port }}/
          {{- if .Values.settings.startAsCandidate }}
            - --start-as-candidate
          {{- end }}
          {{- if .Values.settings.longReconcileThreshold }}
            - --long-reconcile-threshold
            - {{ .Values.settings.longReconcileThreshold | quote }}
          {{- end }}
          env:
            - name: RUST_LOG
              value: "INFO"
            - name: RUST_BACKTRACE
              value: "1"
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          {{- if .Values.settings }}
            {{- with .Values.settings.sentryUrl }}
            - name: SENTRY_DSN
              value: {{ . | quote }}
            {{- end }}
            {{- with .Values.settings.sentryEnvironment }}
            - name: SENTRY_ENVIRONMENT
              value: {{ . | quote }}
            {{- end }}
          {{- end }}
          envFrom:
          - secretRef:
              name: {{ include "neon-storage-controller.fullname" . }}-env-vars
          ports:
            - name: controller
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          startupProbe:
            httpGet:
              path: /status
              port: controller
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 10
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /live
              port: controller
            periodSeconds: 5
            timeoutSeconds: 1
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: controller
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 1
            failureThreshold: 24
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . | quote }}
      {{- end }}
