{{- if .Values.registerControlPlane.enable -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "neon-storage-controller.fullname" . }}-registration-env-vars
  labels:
    {{- include "neon-storage-controller.labels" . | nindent 4 }}
type: Opaque
data:
  CONTROL_PLANE_JWT_TOKEN: {{ .Values.settings.controlPlaneJwtToken | b64enc | quote }}
  CONSOLE_API_KEY: {{ .Values.settings.apiKey | b64enc | quote }}
{{- end }}
