apiVersion: v1
kind: Service
metadata:
  name: {{ include "neon-storage-broker.fullname" . }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  labels:
    {{- include "neon-storage-broker.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: broker
      protocol: TCP
      name: broker
  selector:
    {{- include "neon-storage-broker.selectorLabels" . | nindent 4 }}
