{{ range .Values.settings.extraDomains }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "neon-proxy.certificate-name" . }}
spec:
  commonName: {{ . | quote }}
  dnsNames:
  - {{ . | quote }}
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: cert-manager-clusterissuer
  secretName: {{ include "neon-proxy.certificate-secret" . }}
  privateKey: 
    encoding: PKCS8
{{ end }}
