apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "neon-proxy.fullname" . }}
  labels:
    {{- include "neon-proxy.labels" . | nindent 4 }}
spec:
  strategy:
    {{- toYaml .Values.deploymentStrategy | nindent 4 }}
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "neon-proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "neon-proxy.selectorLabels" . | nindent 8 }}
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "neon-proxy.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
      - name: sysctl
        image: busybox:1.35.0
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        args:
        - /bin/sh
        - -c
        - 'sysctl -w net.ipv4.tcp_keepalive_time=60; sysctl -w net.ipv4.tcp_keepalive_intvl=10; sysctl -w net.ipv4.tcp_keepalive_probes=3; sysctl -w net.ipv4.ip_local_port_range="1024 65535"'
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - proxy
            - --proxy
            - 0.0.0.0:5432
            - --mgmt
            - 0.0.0.0:7000
            - --http
            - 0.0.0.0:9090
            {{- if .Values.settings }}
            {{- with .Values.settings.wssPort }}
            - --wss
            - 0.0.0.0:{{ . }}
            {{- end }}
            {{- with .Values.settings.uri }}
            - -u
            - {{ . }}
            {{- end }}
            {{- with .Values.settings.authEndpoint }}
            - -a
            - {{ . }}
            {{- end }}
            {{- with .Values.settings.authBackend }}
            - --auth-backend
            - {{ . }}
            {{- end }}
            {{- with .Values.settings.metricCollectionEndpoint }}
            - --metric-collection-endpoint
            - {{ . }}
            {{- end }}
            {{- with .Values.settings.metricCollectionInterval }}
            - --metric-collection-interval
            - {{ . }}
            {{- end }}
            {{- end }}
            {{- with .Values.settings.sqlOverHttpTimeout }}
            - --sql-over-http-timeout={{ . }}
            {{ end }}
            {{- if .Values.settings.httpPoolOptIn }}
            - --sql-over-http-pool-opt-in
            - "true"
            {{- else}}
            - --sql-over-http-pool-opt-in
            - "false"
            {{- end }}
            {{- if .Values.settings.disableDynamicRateLimiter }}
            - --disable-dynamic-rate-limiter
            - "true"
            {{- else}}
            - --disable-dynamic-rate-limiter
            - "false"
            {{- end }}
            {{- if .Values.settings.domain }}
            - --tls-key
            - /certs/tls.key
            - --tls-cert
            - /certs/tls.crt
            {{- end }}
            {{- if .Values.settings.extraDomains }}
            - --certs-dir
            - /certs-extra
            {{- end }}
            {{- range .Values.settings.endpointRpsLimits }}
            - --endpoint-rps-limit={{ . }}
            {{- end }}
            {{- range .Values.settings.wakeComputeLimits }}
            - --wake-compute-limit={{ . }}
            {{- end }}
            {{- if .Values.settings.authRateLimitsEnabled }}
            - --auth-rate-limit-enabled
            {{- end }}
            {{- range .Values.settings.authRateLimits }}
            - --auth-rate-limit={{ . }}
            {{- end }}
            {{- with .Values.settings.region }}
            - --region={{ . }}
            {{ end }}
            {{- with .Values.settings.parquetUploadRemoteStorage }}
            - --parquet-upload-remote-storage={{ . }}
            {{ end }}
            {{- with .Values.settings.parquetUploadDisconnectEventsRemoteStorage }}
            - --parquet-upload-disconnect-events-remote-storage={{ . }}
            {{ end }}
            {{- with .Values.settings.parquetUploadRowGroupSize }}
            - --parquet-upload-row-group-size={{ . }}
            {{ end }}
            {{- with .Values.settings.parquetUploadPageSize }}
            - --parquet-upload-page-size={{ . }}
            {{ end }}
            {{- with .Values.settings.parquetUploadSize }}
            - --parquet-upload-size={{ . }}
            {{ end }}
            {{- with .Values.settings.parquetUploadMaximumDuration }}
            - --parquet-upload-maximum-duration={{ . }}
            {{ end }}
            {{- with .Values.settings.parquetUploadCompression }}
            - --parquet-upload-compression={{ . }}
            {{ end }}
            {{- with .Values.settings.wakeComputeLock }}
            - --wake-compute-lock
            - {{ . }}
            {{- end }}
            {{- with .Values.settings.connectComputeLock }}
            - --connect-compute-lock
            - {{ . | quote }}
            {{- end }}
            {{- with .Values.settings.redisNotifications}}
            - --redis-notifications
            - {{ . }}
            {{- end }}
            {{- with .Values.settings.redisAuthType}}
            - --redis-auth-type
            - {{ . }}
            {{- end }}
            {{- with .Values.settings.metricBackupCollectionInterval }}
            - --metric-backup-collection-interval={{ . }}
            {{ end }}
            {{- with .Values.settings.metricBackupCollectionRemoteStorage }}
            - --metric-backup-collection-remote-storage={{ . }}
            {{ end }}
            {{- with .Values.settings.metricBackupCollectionChunkSize }}
            - --metric-backup-collection-chunk-size={{ . }}
            {{ end }}
            {{- with .Values.settings.endpointCacheConfig }}
            - --endpoint-cache-config={{ . }}
            {{ end }}
            {{- with .Values.settings.redisHost }}
            - --redis-host={{ . }}
            {{ end }}
            {{- with .Values.settings.redisPort }}
            - --redis-port={{ . }}
            {{ end }}
            {{- with .Values.settings.redisClusterName }}
            - --redis-cluster-name={{ . }}
            {{ end }}
            {{- with .Values.settings.redisUserId }}
            - --redis-user-id={{ . }}
            {{ end }}
            {{- with .Values.settings.awsRegion }}
            - --aws-region={{ . }}
            {{ end }}
            

          {{- if .Values.settings }}
          env:
            {{- with .Values.settings.rustLog }}
            - name: RUST_LOG
              value: {{ . }}
            {{- end }}
            {{- with .Values.settings.otelExporterOtlpEndpoint }}
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: {{ . }}
            {{- end }}
            {{- if .Values.settings.otelExporterDisabled }}
            - name: OTEL_SDK_DISABLED
              value: "true"
            {{- end }}
            {{- with .Values.settings.sentryUrl }}
            - name: SENTRY_DSN
              value: {{ . }}
            {{- end }}
            {{- with .Values.settings.sentryEnvironment }}
            - name: SENTRY_ENVIRONMENT
              value: {{ . }}
            {{- end }}
            {{- with .Values.settings.controlplane_token }}
            - name: NEON_PROXY_TO_CONTROLPLANE_TOKEN
              value: {{ . }}
            {{- end }}
            {{- with .Values.settings.awsAccessKeyId }}
            - name: AWS_ACCESS_KEY_ID
              value: {{ . }}
            {{- end }}
            {{- with .Values.settings.awsSecretAccessKey }}
            - name: AWS_SECRET_ACCESS_KEY
              value: {{ . }}
            {{- end }}
          {{- end }}
          {{- if .Values.settings.domain }}
          volumeMounts:
            - mountPath: "/certs"
              name: certs
              readOnly: true
            {{- range .Values.settings.extraDomains }}
            - mountPath: '/certs-extra/{{ include "neon-proxy.certificate-name" . }}'
              name: {{ include "neon-proxy.certificate-name" . }}
              readOnly: true
            {{- end }}
          {{- end }}
          ports:
            - name: proxy
              containerPort: 5432
              protocol: TCP
            - name: mgmt
              containerPort: 7000
              protocol: TCP
            - name: http
              containerPort: 9090
              protocol: TCP
            {{- if .Values.settings }}
            {{- with .Values.settings.wssPort }}
            - name: https
              containerPort: {{ . }}
              protocol: TCP
            {{- end }}
            {{- end }}
          startupProbe:
            httpGet:
              path: /v1/status
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 10
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /v1/status
              port: http
            periodSeconds: 15
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /v1/status
              port: http
            periodSeconds: 15
            timeoutSeconds: 10
          {{- if .Values.containerLifecycle }}
          lifecycle:
            {{- toYaml .Values.containerLifecycle | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- if .Values.settings.domain }}
      volumes:
        - name: certs
          secret:
            secretName: {{ include "neon-proxy.certificate-secret" .Values.settings.domain }}
        {{- range .Values.settings.extraDomains }}
        - name: {{ include "neon-proxy.certificate-name" . }}
          secret:
            secretName: {{ include "neon-proxy.certificate-secret" . }}
        {{- end }}
      {{ end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
