{{- if .Values.settings.internalCA }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "neon-proxy.fullname" . }}-internal-ca
data:
  neon_root_ca.crt: {{ .Values.settings.internalCA }}
{{- end }}
