apiVersion: v1
kind: Service
metadata:
  {{- if .Values.exposedService.name }}
  name: {{ .Values.exposedService.name }}
  {{- else }}
  name: {{ include "neon-proxy.fullname" . }}-exposed
  {{- end }}
  {{- with .Values.exposedService.annotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  labels:
    {{- include "neon-proxy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.exposedService.type }}
  externalTrafficPolicy: {{ .Values.exposedService.externalTrafficPolicy }}
  ports:
    {{- with .Values.exposedService.port }}
    - port: {{ . }}
      targetPort: proxy
      protocol: TCP
      name: proxy
    {{- end }}
    {{- with .Values.exposedService.httpsPort }}
    - port: {{ . }}
      targetPort: https
      protocol: TCP
      name: https
    {{- end }}
  selector:
    {{- include "neon-proxy.selectorLabels" . | nindent 4 }}
