{{- if .Values.useCertManager }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "neon-proxy.certificate" . }}
spec:
  commonName: {{ .Values.settings.domain | quote }}
  dnsNames:
  - {{ .Values.settings.domain | quote }}
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: cert-manager-clusterissuer
  secretName: {{ include "neon-proxy.certificate-secret" . }}
  privateKey:
    encoding: PKCS8
{{- end }}
